{% extends 'base.twig' %}
{% block title %}Categories list{% endblock %}

{% block content %}
    <h1>
        Categories list
    </h1>
    <p>
    <p><a class="btn btn-default" href="{{ url('/categories/add') }}" role="button">Add category »</a></p>
    {%  if products|length > 0 %}
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Nazwa</th>
              </tr>
            </thead>
            <tbody>
            {% for product in products %}
              <tr>
                <td>{{ product.id|e }}</td>
                <td>{{ product.name|e }}</td>
                <td>
                    <a href="{{ url('/categories/edit', {'id': product.id}) }}" title="Delete product">Edit category</a>
                </td>
                <td>
                    <a href="{{ url('/categories/delete', {'id': product.id}) }}" title="Delete product">Delete category</a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
    {% else %}
        <p>
            Products not found.
        </p>
    {% endif %}
{% endblock %}


