{% extends 'base.twig' %}
{% block title %}Products list{% endblock %}

{% block content %}

    <p>
    {% if is_granted('ROLE_ADMIN') %}
        <p><a class="btn btn-default" href="{{ url('/products/add') }}" role="button">Add new product »</a></p>
    </p>
    {% endif %}
    {%  if products|length > 0 %}

      <div class="row">
{% for product in products %}
        <div class="col-md-4">
          <h2>{{ product.name|e }}</h2>
          <p><strong>Category:</strong>{{ product.Kategoria|e }}</p>
          <p><strong>Producent:</strong>{{ product.Producent|e }}</p>
          <p><strong>Price netto:</strong>{{ product.price_netto|e }} zł</p>
          <p><strong>Price brutto:</strong>{{ product.price_brutto|e }} zł</p>
          <p><strong>Opis:</strong>{{ product.desc|e }}</p>
          {% if is_granted('ROLE_ADMIN') %}
             <p><a href="{{ url('/products/edit', {'id': product.id}) }}" title="Edit product">Edit product</a></p>
             <p><a href="{{ url('/products/delete', {'id': product.id}) }}" title="Delete product">Delete product</a></p>
          {% endif %}
          {% if is_granted('ROLE_USER') %}
             <p><a class="btn btn-default" href="{{ url('/cart/add', {'id': product.id}) }}" role="button">Add to cart »</a></p>
          {% endif %}
        </div>
{% endfor %}
      </div>
    </div>
    {% else %}
        <p>
            Products not found.
        </p>
    {% endif %}


    </div><p></p>
{% endblock %}