{% extends 'base.twig' %}
{% block title %}Products list{% endblock %}

{% block content %}
    <h1>
        Produkty z wybranej kategorii:
    </h1>
    {%  if products|length > 0 %}
        <table>
            <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Producent</th>
                    <th>Cena netto</th>
                    <th>Cena brutto</th>
                    <th>Opis</th>
                    <th colspan="2">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name|e }}</td>
                    <td>{{ product.Producent|e }}</td>
                    <td>{{ product.price_netto|e }}</td>
                    <td>{{ product.price_brutto|e }}</td>
                    <td>{{ product.desc|e }}</td>
                    {% if is_granted('ROLE_USER') %}
                      <td>
                        <a href="{{ url('/cart/add', {'id': product.id}) }}" title="Edit product">Add to cart</a>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            Products not found.
        </p>
    {% endif %}
{% endblock %}