{% extends 'base.twig' %}

{% block content %}

{% if is_granted('ROLE_USER') %}
	    <p><strong>Login:</strong> {{ user.login }}</p>
	    <p><strong>Firstname:</strong> {{ user.firstname }}</p>
	    <p><strong>Lastname:</strong> {{ user.lastname }}</p>
	    <p><strong>Phone number:</strong> {{ user.phone_number }}</p>
	    <p><strong>Email:</strong> {{ user.email }}</p>
	    <p><strong>Street:</strong> {{ user.street }}</p>
	    <p><strong>House number:</strong> {{ user.house_number }}</p>
	    <p><strong>City:</strong> {{ user.city }}</p>
	    <p><strong>Postal code:</strong> {{ user.postal_code }}</p>

	    <p><a class="btn btn-default" href="{{ url('/user/edit') }}" role="button">Edit your info »</a></p>

{% else %}
	You have to be logged in to check your info.
{% endif %}
{% endblock %}